---
import Typography from "@/components/TypographyComponent";


---

<section class="container grid grid-cols-2 p-8 mx-auto ">
    <div>
        
    </div>
    <div class="text-center">
      <Typography
        type="h2"
        color="primary"
        size="extra-large"
        weight="bold"
        family="poppins"
        align="center"
      >
        Contacta Conmigo
      </Typography>
      <Typography
        type="p"
        color="black"
        size="large"
        weight="regular"
        family="poppins"
        align="center"
      >
        Estoy siempre disponible para discutir nuevos proyectos, ideas o para ayudarte en tu próximo desafío tecnológico.
      </Typography>
    </div>
  </section>
  