---
import GuaranteeComponent from "@/components/GuaranteeComponent";
import TestimonialsSlider from "@/components/TestimonialsComponent";


---

<section class="container p-8 mx-auto mt-[10rem]">
    <div>

        <GuaranteeComponent  client:load/>
    </div>
    <div class="flex flex-col items-center justify-center mt-[10rem]">

        <TestimonialsSlider client:load/>
    </div>
</section>