---
import {useState,useEffect} from 'react';
import ButtonComponent from "@/components/ButtonComponent";
import CardProyectComponent from "@/components/CardProyectComponent";
import Typography from "@/components/TypographyComponent";
import {projects} from "@/data/projects";

---
<section class="p-8 mx-10 md:justify-start md:flex-row">
    <Typography 
    type="h2"
    color="primary"
    size="extra-large"
    weight="bold"
    family="poppins"
    align="left"
    >
        Proyectos
    </Typography>
    <div class="grid grid-cols-1 gap-4 mt-[2rem] md:grid-cols-2 lg:grid-cols-3">
    {projects?.slice(0,3).map((values) => (
        <CardProyectComponent data={values} client:load/>
    ))}
    </div>
    <div class=`flex justify-start mt-8 transition-opacity duration-1000 ${projects.length > 0 ? 'opacity-100': 'opacity-0'}`>
      <a href="projects/all-projects" no-refferer target="_parent"
       class="p-3 text-white rounded-md shadow-md shadow-tertiary bg-primary border-1 border-line hover:bg-secondary hover:text-gray-50 hover:border-primary">       
    Ver otros proyectos
    </a>
</section>