---
import HeaderComponent from '@/components/HeaderComponent'
import Typography from '@/components/TypographyComponent'
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Recneps TI | Tecnología e innovaciones</title>
  </head>
  <body>
    <HeaderComponent client:load/>
    <main>
        <slot/>
    </main>
  </body>
  <footer class="my-5">
    <Typography
    type="p"
    color="black"
    size="base"
    weight="regular"
    family="poppins"
    align="center"
  >
  © 2024 make ❤️ for the world. Recneps TI
  </Typography>
  </footer>
</html>